<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858017852794-6ittjkcrvk95i7qa32lefvlk1gcsm4i1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858017852794-6ittjkcrvk95i7qa32lefvlk1gcsm4i1</string>
	<key>API_KEY</key>
	<string>AIzaSyAMwQgboqqGb_oteRCoLOb8f8oIBqoMkJI</string>
	<key>GCM_SENDER_ID</key>
	<string>858017852794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>flutter-login-b74ec</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-login-b74ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858017852794:ios:cba8ff5751cd125f547ac3</string>
</dict>
</plist>